<div class="row">
  <div class="col-12 main-image">
    <h1 class="title">禁煙をすぐにあきらめてしまう人へおすすめ！<br><br>
    <span class="title-message">毎日の喫煙記録を管理しよう</span>
    </h1>
    <div class="btn-wrapper">
      <%= link_to "今すぐ始めよう", signup_path, class: "btn btn-lg btn-primary" %>  
    </div>
  </div>
</div>
<div class="point-wrapper">
    
</div>