// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
    font-weight: 1000;
}

.main-image{
     background-image: url("/non-smoking-main.jpg");
     height: 550px;
     background-position: 50% 10%;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 150px 0 100px 0;
     margin-top: -80px;
     text-align: center;
     color: white;
}

.title-message{
    font-size: 0.7em;
}

.btn-wrapper{
    margin-top: 100px;
    
}


.point-wrapper{
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: #F5DEB3;
}

.point-image img{
    width: 576x;
    height: 460px;
    
    
    
}

.point-image{
    text-align: center;
    background-color: white;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: -15px;
    margin-right: -15px;
}

.point-wrapper p{
    font-size: 120%;
}

@media (max-width:856px) {
    
  
    
    .btn-wrapper{
        
        margin-right: 30px;
    }
    
    
}

@media (max-width:576px){
    h1{
        font-size: 2.0rem;
    }
    
    h2{
        font-size: 1.5rem;
    }
    
    .point-wrapper p{
        font-size: 75%;
    }
    
    .point-image img{
        width: 100%;
        height: auto;
    }
    
    .btn-wrapper{
        margin-right: 0;
        margin-top: 150px;
    }
}

@media (max-width:400px) {
    h1{
        font-size: 1.6rem;
    }
    
    h2{
        font-size: 1.2rem;
    }
    
    .point-wrapper p{
        font-size: 55%;
    }

}